* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #232830;
    font-family: Arial, sans-serif;
    color: white;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.recursive-regular-italic {
    font-family: "Recursive", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
      "slnt" 0,
      "CASL" 0,
      "CRSV" 0.5,
      "MONO" 0;
  }

p {
    margin: 0em 0.5em 0em 0.5em;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 3em auto 3em auto;
}

.flex-start {
    margin-right: auto;
}

.flex-end {
    margin-left: 1.5em;
}

.title-header {
    font-size: 1.25em;
    text-align: left;
}

.main-header {
    justify-content: center;
    margin: 0em 0em 7em 0em;
}

.main-header-logo {
    width: 194px;
    height: auto;
    margin: auto auto 2em;
}

.main-header h1 {
    font-size: 4.25em;
    text-align: center;
    color: #FF7575;
}

.main-header h3 {
    font-size: 1.5em;
    text-align: center;
}

.separator {
    height: 2px;
    background-color: #4D4D4D;
    opacity: 20%;
}

.category-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 1em auto 3em auto;
    color: #909090;
    font-size: 1.25em;
}

.category-listing img {
    filter: invert(60%) sepia(0%) saturate(2%) hue-rotate(60deg) brightness(96%) contrast(89%);
}

.grid-icon {
    width: 24px;
    height: auto;
}

.list-icon {
    width: 24px;
    height: auto;
}